/** Contenedor popup historial **/
.contenedor-historial{
    opacity: 0;
    visibility: hidden;
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
.popup-historial{
    width: 950px;
    height: 650px;
    background: #F2F2F2;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    transition: transform 1s;
    transform: translateY(0%);
    border-radius: 10px;
    overflow: auto;
}
.popup-historial h2{
    margin-bottom: 15px;
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
    color: black;
}

/** Fin contenedor popup historial **/


/** Descripcion **/
.descripcion{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    
}
.descripcion h3{
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem;
    color: black;
    margin: 0 40px; 
}


/** Contenedor historial de datos **/
.datos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin-top: 20px;
    overflow-y: scroll;
}
.dato{
    display: flex;
    width: 70%;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid lightgray;
    margin-bottom: 15px;
}
.dato h2{
    margin: 0 50px;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    font-size: .9rem;
    color: black;
}
.datos::-webkit-scrollbar{
    width: 7px;
}
.datos::-webkit-scrollbar-thumb {
	background: #79D0F2;
	border-radius: 5px;
}

/** Fin contenedor historial de datos **/


/** Botones **/
.cont-btn{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.btn-h{
    margin: 5px;
    background-color: #e2504c;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    transition: all 0.3s ease;
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem;
}
#cerrar-popup-historial:hover{
    background-color: #ff6961;
}
.btn-filtros{
    background-color: #79D0F2;
}
#ordenar-fecha{
    margin-right: 230px;
}
.btn-filtros:hover{
    background-color: #99D9F2;
}
/** Fin Botones **/

.historial-cerrar{
    transform: translateY(-200%);
}

