/** Contenedor jugadores **/
.cont-nombre-jugadores{
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    background: rgba(0, 0, 0, 0.5);
}
.popup-jugadores{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
    width: 650px;
    height: 450px;
    transition: transform 1s;
    transform: translateY(0%);
    text-align: center;
    border-radius: 10px;
    background: #fff;
}
.popup-jugadores h2{
    margin-bottom: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
    color: black;
}
/** Fin contenedor jugadores **/

/** Inputs **/
.cont-info-jugadores{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
}
.cont-info-jugadores input{
    margin: 10px;
    width: 350px;
    padding: 10px;
    font-size: 1.1rem;
    border: none;
    border-bottom: 1px solid lightgray;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: black;
    outline: none;
}
/** Fin inputs **/


/** Botones **/
.cont-btn{
    display: flex;
    align-items: center;
    justify-content: center;
}
.btns{
    margin: 5px;
    background-color: #79D0F2;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    transition: all 0.3s ease;
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem;
}
#cerrar-popup-jugadores{
    background-color: #e2504c;
}
#cerrar-popup-jugadores:hover{
background-color: #ff6961;
}
#aceptar:hover{
    background-color: #99D9F2;
}
/** Fin botones **/

.cerrar-popup-jugadores{
    transform: translateY(-200%);
}

@media(max-width: 715px){
    .popup-jugadores{
        width: 450px;
        height: 350px;
    }
    .popup-jugadores h2{
        font-size: 1.2rem;
    }
    .cont-info-jugadores input{
    margin: 10px;
    width: 250px;
    padding: 10px;
    font-size: 1.1rem;
    }
    .btns{
        padding: 5px 10px;
        font-size: .8rem;
    }
}

@media(max-width:400px){
   .popup-jugadores{
        width: 330px;
        height: 350px;
    }
    .popup-jugadores h2{
        font-size: 1rem;
    }
    .cont-info-jugadores input{
        margin: 10px;
        width: 200px;
        padding: 10px;
        font-size: 1.1rem;
    }
}