
h1 {
	font-family: 'Poppins', sans-serif;
	color: #ffff;
	font-size: 1.6em;
	font-weight: 600;
	margin-left: 20px;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	max-width: 100vw;
	min-height: 100vh;
	background-color: #F2F2F2;
	margin: 0;
}
body::-webkit-scrollbar{
    width: 7px;
}
body::-webkit-scrollbar-thumb {
	background: #79D0F2;
	border-radius: 10px;
}

main {
	display: flex;
	justify-content: center;
	align-items: center;
}

/* Barra de navegacion */

.navegacion {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #233D4D;
}

@media (max-width: 768px) {
	.navegacion {
		flex-direction: column;
		padding-bottom: 15px;
	}
}

.navegacion a {
	font-family: 'Poppins', sans-serif;
	color: #F2F2F2;
	font-size: 1.1em;
	font-weight: 100;
	text-decoration: none;
	transition: all 0.3s ease;
	padding: 3px;
	border-radius: 5px;
	border: 0.5px solid #F2F2F2;
	margin: 0 5px;
}
.navegacion a:last-child{
	margin-right: 20px;
}

.navegacion a:hover {
	font-size: 1.2em;
	border: none;
}

/* Tablero */

.tablero {
	display: flex;
	flex-direction: column;
	margin: 30px 0 10px 0;
	border: 2px solid #1D4859;
	border-radius: 2px;
	box-shadow: 0 0 8px #1D4859 ;
}

/* Jugadores */

.contenedorJugadores {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin:0 2vw 0 2vw;
	border-radius: 5px;
	padding: 1vw;
	background-color:#233D4D;
}
.contenedorJugadores .casillasNegras{
	background-color: #233D4D;
}
#jugador1{
	box-shadow: 0 0 10px red;
}


.contenedorJugadores p,
.contenedorJugadores p {
	color: #ffffff;
	font-family: 'Poppins', sans-serif;
	margin: 0.3vw;
}

@media (max-width: 768px) {
	main {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.contenedorJugadores {
		margin-left: 0vw;
		margin-top: 2vh;
	}

	
}

/* Boton */

.boton {
	margin: 20px auto 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

.button {
	background-color: #79D0F2;
	padding: 15px 18px;
	color: #ffffff;
	font-family: 'Poppins', sans-serif;
	text-decoration: none;
	font-size: 1.2em;
	transition: all 0.3s ease;
	border: 2.5px solid #79D0F2;
	border-radius: 5px;
	cursor: pointer;
	margin: 0 10px;
}
.button:hover {
	background-color: #99D9F2;
	border-color: #99D9F2;
}
.amarillos{

	padding: 12px 16px;
}

.amarillos:hover{
		background-color: #99D9F2;
	border-color: #99D9F2;
}


/* Casillas */

.fila {
	display: flex;
	flex-direction: row;
}

.casillasNegras{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5vw;
    height: 5vw;
    background-color:#233D4D ;
}

.casillasBlancas{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5vw;
    height: 5vw;
    background-color: #F2F2F2;
}

.damasAmarillas{
    width: 70%;
    height: 70%;
	border: 1px solid #F2F2F2;
    border-radius: 50%;
    background-color: #F2F2F2;
    cursor: pointer;
}

.damasVerdes{
    width: 70%;
    height: 70%;
    border-radius: 50%;
    background-color: #e2504c;
	border-color:#e2504c;
    cursor: pointer;
}
@media(max-width: 768px){
	.casillasNegras, .casillasBlancas{
        width: 9vw;
        height: 9vw;
    }
	.button{
	padding: 10px 13px;
	font-size: .9em;
	}
	.contenedorJugadores{
		display: flex;
		flex-direction: row;
	}
	.contenedorJugadores p{
		margin: 0 15px;
	}
	.contenedorJugadores p:last-child{
		margin: 0 15px 0 0;
	}
}
@media(max-width: 1165px){
	.button{
	padding: 10px 13px;
	font-size: .9em;
	}
	.casillasNegras, .casillasBlancas{
        width: 8vw;
        height: 8vw;
    }
}
@media(max-width: 400px){
	.button{
	padding: 7px 10px;
	font-size: .5em;
	}
	.casillasNegras, .casillasBlancas{
        width: 11vw;
        height: 11vw;
    }
	
}

/* Footer */

.footer {
	margin: 0;
}

.contenedor-footer {
	display: flex;
	align-items: center;
	justify-content: space-around;
	background-color: #233D4D ;
	margin: 30px 0 0 0;
	padding: 30px 0 30px 0;
	overflow: hidden;
	font-family: 'Poppins', sans-serif;
}

@media (max-width: 768px) {
	div.contenedor-footer {
		display: flex;
		flex-direction: column;
	}
}

.contenedor-footer a {
	font-family: 'Poppins', sans-serif;
	color: #ffff;
	text-decoration: none;
}

.pie-descripcion {
	margin: 0;
	color: #ffffff;
}

/** Rey **/

.rey{
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	background-image: url(/img/logoDamaReina.png);
}



/** Registro **/

.form-registro{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: auto;
	background: #233D4D;
	padding: 3.4vw;
	border-radius: 4px;
	font-family: 'Poppins', sans-serif;
	color: #ffffff;
}

.form-registro h4{
	font-size: 1.7rem;
	margin-bottom: 30px;
}

.controles{
	width: 100%;
	background-color: #ffffff;
	padding: 10px;
	border-radius: 4px;
	margin-bottom: 1vw;
	border: 1px solid #79D0F2;
	font-family: 'Poppins', sans-serif;
	font-size: 1.1rem;
	color: #ffffff;
}

.form-registro p a{
	text-decoration: none; 
	color: #ffffff;
	font-family: 'Poppins', sans-serif;
	font-size: 1.1rem;
}
.form-registro a:hover{
	color: #ceecf2;
}

.boton-registro{
	cursor: pointer;
	background-color: #79D0F2;
	border: 1px solid #79D0F2;
	border-radius: 3px;
	width: 100%;
	padding: 0.7vw;
	color: #ffffff;
	font-family: 'Poppins', sans-serif;
	font-size: 1.2rem;
	margin: 15px 0;
	transition: all 0.3s ease;
}
.boton-registro:hover{
	background-color: #99D9F2;
	border-color: #99D9F2;
}





