/**
 * /* Utiles
 *
 * @format
 */

h1 {
	font-family: "Oswald", sans-serif;
	color: #ffff;
	font-size: 1.3em;
	margin-left: 20px;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	max-width: 100vw;
	min-height: 100vh;
	background-color: #ceecf2;
	margin: 0;
}

main {
	display: flex;
	justify-content: center;
	align-items: center;
}

/* Barra de navegacion */

nav.navegacion {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #0B3954  ;
}

@media (max-width: 768px) {
	nav.navegacion {
		flex-direction: column;
		padding-bottom: 15px;
	}
}

nav.navegacion a {
	font-family: "Oswald", sans-serif;
	color: #ffff;
	font-size: 1.3em;
	text-decoration: none;
	transition: all 0.6s ease;
	padding: 19px;
}

nav.navegacion a:hover {
	background-color: #bf9e75;
}

/* Tablero */

div.tablero {
	display: flex;
	flex-direction: column;
	margin: 30px 0 10px 0;
	border: 4px solid #035e73;
	border-radius: 2px;
	box-shadow: 0 0 8px #035e73;
}

/* Jugadores */

div.contenedorJugadores {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin:0 2vw 0 2vw;
	border-radius: 5px;
	padding: 1vw;
	background-color:#0B3954;
}
#jugador1{
	box-shadow: 0 0 15px #B2945B;
}


.contenedorJugadores p,
.contenedorJugadores p {
	color: #ffffff;
	font-family: "Oswald", sans-serif;
	margin: 0.3vw;
}

@media (max-width: 768px) {
	main {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	div.contenedorJugadores {
		margin-left: 0vw;
		margin-top: 2vh;
	}
	
}

/* Boton */

div.boton {
	margin: 20px auto 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

.button {
	background-color: #B33951;
	padding: 1vw 4vw;
	color: #ffffff;
	font-family: "Oswald", sans-serif;
	text-decoration: none;
	font-size: 1.2em;
	transition: all 0.3s ease;
	border: 2.5px solid #B33951;
	border-radius: 5px;
	box-shadow: 0 0 9px #B33951;
	cursor: pointer;
}

.button:hover {
	background-color: #0B3954;
	border-color: #0B3954;
	box-shadow:0 0 9px #0B3954;
}

/* Casillas */

div.fila {
	display: flex;
	flex-direction: row;
}

.casillasNegras{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5vw;
    height: 5vw;
    background-color:#0B3954  ;
}

.casillasBlancas{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5vw;
    height: 5vw;
    background-color: #FCFAF9;
}

.damasAmarillas{
    width: 70%;
    height: 70%;
    border-radius: 50%;
    background-color: #B2945B;
    box-shadow:  0 0 7px #B2945B;
	border-color:#B2945B ;
    cursor: pointer;
}

.damasVerdes{
    width: 70%;
    height: 70%;
    border-radius: 50%;
    background-color: #558564;
    box-shadow: 0 0 7px #558564;
	border-color:#558564 ;
    cursor: pointer;
}
@media(max-width: 768px){
	.casillasNegras, .casillasBlancas{
        width: 9vw;
        height: 9vw;
    }
}

/* Footer */

.footer {
	margin: 0;
}

div.contenedor-footer {
	display: flex;
	align-items: center;
	justify-content: space-around;
	background-color: #0B3954  ;
	margin: 30px 0 0 0;
	padding: 30px 0 30px 0;
	overflow: hidden;
}

@media (max-width: 768px) {
	div.contenedor-footer {
		display: flex;
		flex-direction: column;
	}
}

div.contenedor-footer a {
	color: #ffff;
	text-decoration: none;
}

.pie-descripcion {
	margin: 0;
	color: #ffffff;
}


/** Registro **/

.form-registro{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: auto;
	background: #0B3954;
	padding: 3.4vw;
	border-radius: 4px;
	font-family: 'calibri';
	color: #ffffff;
}

.form-registro h4{
	font-size: 1.7rem;
	margin-bottom: 30px;
}

.controles{
	width: 100%;
	background-color: #0B3954;
	padding: 10px;
	border-radius: 4px;
	margin-bottom: 1vw;
	border: 1px solid #1f53c5;
	font-family:'calibri';
	font-size: 1.1rem;
}

.form-registro p a{
	text-decoration: none; 
	color: #ffffff;
	font-family:'calibri';
	font-size: 1.1rem;
}
.form-registro a:hover{
	color: #ceecf2;
}

.boton-registro{
	cursor: pointer;
	background-color: #1f53c5;
	border: 1px solid #1f53c5;
	border-radius: 3px;
	width: 100%;
	padding: 0.7vw;
	color: #ffffff;
	font-family:'calibri';
	font-size: 1.2rem;
	margin: 15px 0;
	transition: all 0.3s ease;
}
.boton-registro:hover{
	background-color: #B33951;
	border-color: #B33951;
}





