/* Utiles */

h1 {
    font-family: 'Oswald', sans-serif;
    color: #CEECF2;
    font-size: 1.3em;
    margin-left: 20px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 100vw;
    min-height: 100vh;
    background-color: #CEECF2;
    margin: 0;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Barra de navegacion */

nav.navegacion {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #035E73;
}

@media (max-width: 768px) {
    nav.navegacion {
        flex-direction: column;
        padding-bottom: 15px;
    }
}

nav.navegacion a {
    font-family: 'Oswald', sans-serif;
    color: #ffff;
    font-size: 1.3em;
    text-decoration: none;
    transition: all .6s ease;
    padding: 19px;
}

nav.navegacion a:hover {
    background-color: #BF9E75;
}


/* Tablero */

div.tablero {
    display: flex;
    flex-direction: column;
    margin: 30px 0 10px 0;
    border: 4px solid #035E73 ;
    border-radius: 2px;
    box-shadow: 0 0 8px #035E73;

}


/* Jugadores */

div.jugador-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 2vw;
    border-radius: 5px;
    padding: 1vw;
    background-color: #46B5B6;
    box-shadow: 0 0 5px red;
}

.dama-jugador1 {
    width: 70%;
    height: 70%;
    border-radius: 50%;
    background-color: #B6465F;
    box-shadow: 0 0 7px red;
}

div.jugador-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 2vw;
    padding: 1vw;
    border-radius: 5px;
    background-color: #46B5B6;
    box-shadow: none;
}

.dama-jugador2 {
    width: 70%;
    height: 70%;
    border-radius: 50%;
    background-color: #BED8D4;
    box-shadow: 0 0 7px white;
}

.jugador-1 p,
.jugador-2 p {
    color: #CEECF2;
    font-family: 'Oswald', sans-serif;
    margin: .3vw;
}

@media (max-width:768px) {
    main {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    div.jugador-2 {
        margin-left: 0vw;
        margin-top: 2vh;
    }
    div.jugador-1 {
        margin-right: 0vw;
        margin-top: 2vh;
    }
}


/* Boton */

div.boton {
    margin: 20px auto 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    background-color: #BF9E75;
    padding: 1vw 4vw;
    color: #ffffff;
    font-family: 'Oswald', sans-serif;
    text-decoration: none;
    font-size: 1.2em;
    transition: all .3s ease;
    border: 2.5px solid #BF9E75;
    border-radius: 5px;
    box-shadow: 0 0 9px #D9B589;
    cursor: pointer;
}

.button:hover {
    background-color: #035E73;
}


/* Casillas */

div.fila {
    display: flex;
    flex-direction: row;
}

div.casilla {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4vw;
    height: 4vw;
    font-size: 1.5em;
    color: #BF9E75;
}

@media (max-width: 768px) {
    div.casilla {
        width: 7vw;
        height: 7vw;
    }
}

div.letra {
    color: #BF9E75;
}

div.clara {
    background-color: #03A696;
}

div.oscura {
    background-color: #F27052;
}


/* Damas */

div.roja {
    width: 70%;
    height: 70%;
    border-radius: 50%;
    background-color: #B6465F;
    box-shadow: 0 0 7px red;
    cursor: pointer;
}

div.blanca {
    width: 70%;
    height: 70%;
    border-radius: 50%;
    background-color: #BED8D4;
    box-shadow: 0 0 7px white;
    cursor: pointer;
}


/* Footer */

.footer {
    margin: 0;
}

div.contenedor-footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #035E73;
    margin: 30px 0 0 0;
    padding: 30px 0 30px 0;
    overflow: hidden;
}

@media (max-width:768px) {
    div.contenedor-footer {
        display: flex;
        flex-direction: column;
    }
}

div.contenedor-footer a {
    color: #ffff;
    text-decoration: none;
}

.pie-descripcion {
    margin: 0;
    color: #ffffff;
}